html{
    
    // background-image: url(/../assets/rokidmedia.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-attachment: fixed;
    font-family: 'Sedgwick Ave', cursive;
    background-color: rgba(245, 245, 245, 0.055); 
    opacity: 0.95;

    }

