<!-- <h1>{{ title }}</h1>
<button [disabled]="clicked" (click)="handleClick()">
  We Are 505
</button>
<div *ngIf="clicked">
  <h3>{{ video.name }}</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-UU1_RhPG5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div> -->

<iframe width="31%" height="315" src="https://www.youtube.com/embed/-UU1_RhPG5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>