p{
    font-family: 'Special Elite', cursive;
    position: fixed;
    left: 0;
    bottom: -16px;
    width: 100%;
    background-image: linear-gradient(whitesmoke, #b1b1b1, #6c6c6c, #505152);
    color:black;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    margin-left: -8px;
    margin-right: -8px; 
}